* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

h1, h2 {
    font-size: clamp(24px, 5vw, 72px);
}

p {
    font-size: clamp(12px, calc(0.5em + 1vw), 36px);
    color: gray;
}

figure {
    max-width: clamp(300px, 50vw, 900px);
    margin: 2rem auto;
}

video {
    max-width: clamp(175px, 27.5vw, 400px);
}

#phone-icon {
    max-width: 10vw;
}