* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

h1, h2 {
    font-size: 4vmax;
}

p {
    font-size: 1.7vmax;
    color: gray;
}

a {
    font-size: 1.7vmax;
}

figure {
    max-width: 80%;
    margin: 2rem auto;
}

video {
    width: 50vw;
}